.btn {
  @apply inline-flex text-sm font-semibold text-center px-4 py-0 rounded-lg no-underline items-center justify-between;

  height: 45px;
  line-height: 45px;
  transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

  &:hover,
  &:focus {
    @apply cursor-pointer;
  }

  &:disabled {
    @apply bg-blue-200 text-white cursor-not-allowed;
  }
}

.btn-primary {
  @apply bg-blue-500 text-white;

  &:hover,
  &:focus {
    @apply bg-blue-600 text-white;
  }

  &.outline {
    @apply bg-transparent border border-blue-500 text-blue-500 border-blue-500 shadow-none;

    &:hover,
    &:focus {
      @apply border-blue-600 text-blue-600 underline;
    }
  }
}